# Python
*.py[cod]
__pycache__/
*.env
env/
venv/
*.egg-info/
dist/
build/
wheels/
*.so
*.log

# Node
node_modules/
npm-debug.log*
yarn-error.log
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE/OS Files
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Secrets / Sensitive Data
*.json # Be careful with generic rules, maybe specific key files?
*.pem
credentials.json # Example
/secrets/ # Example directory

# Data files (if large or shouldn't be in git)
*.csv

# Cloud SDK files
.gcloud/